{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% set invalidApiKey = client is defined and client is null %}
{% set storeAvailable = storeId is defined and storeId is not null and client is defined and client is not null %}
{% set hasNewerVersion = latestVersion is defined and latestVersion != null and latestVersion.newer(moduleVersion) %}

{% block content %}
  {% if hasNewerVersion %}
  <div class="row ps17">
    <div class="col-12 col-spx-12 col-lg-10 col-md-10 offset-md-1 offset-lg-1">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{ 'A new version of this module (%version%) has been released on GitHub. <a href="%url%" class="alert-link" target="_blank" rel="noopener noreferrer nofollow">Click here to check it out.</a>'|trans({'%version%': latestVersion.tagName, '%url%': latestVersion.url}, 'Modules.Btcpay.Admin')|raw }}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row ps17">
    <div class="col-12 col-spx-12 col-lg-10 col-md-10 offset-md-1 offset-lg-1">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">extension</i>
          {{ 'BTCPay Server - Payment module - v%version%'|trans({'%version%': moduleVersion}, 'Modules.Btcpay.Admin') }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
              <a href="https://btcpayserver.org/" target="_blank" rel="noopener noreferrer nofollow">
                <img src="{{ asset('../modules/btcpay/views/images/btcpay-plugin.png') }}" class="img-fluid" alt="{{ 'BTCPay Server logo'|trans({}, 'Modules.Btcpay.Admin') }}"/>
              </a>
              <div class="clearfix"></div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-10">
              <div class="card-text">
                <p>
                  {{ 'To be able to use this payment module you need to have a BTCPay Server instance, either <a href="https://docs.btcpayserver.org/Deployment/" target="_blank" rel="noopener noreferrer nofollow">self-hosted</a> or <a href="https://docs.btcpayserver.org/Deployment/ThirdPartyHosting/." target="_blank" rel="noopener noreferrer nofollow">hosted by a third-party</a>.'|trans({}, 'Modules.Btcpay.Admin')|raw }}<br/>
                  {{ 'Furthermore, you must have <a href="https://docs.btcpayserver.org/RegisterAccount" target="_blank" rel="noopener noreferrer nofollow">a registered account on the instance</a>, <a href="https://docs.btcpayserver.org/CreateStore" target="_blank" rel="noopener noreferrer nofollow">an actual store on the instance</a> and <a href="https://docs.btcpayserver.org/WalletSetup" target="_blank">a wallet connected to your store</a>.'|trans({}, 'Modules.Btcpay.Admin')|raw }}
                </p>
                <hr class="mt-0 mb-3" />
                <p>{{ 'For additional information, checkout <a href="https://docs.btcpayserver.org/PrestaShop/" target="_blank" rel="noopener noreferrer nofollow">the documentation</a>.'|trans({}, 'Modules.Btcpay.Admin')|raw }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row ps17">
    <div class="{% if invalidApiKey %}col-5 col-spx-5 col-lg-5 col-md-5 {% else %}col-12 col-spx-12 col-lg-10 col-md-10{% endif %} offset-md-1 offset-lg-1">
      <div class="card">
        {{ form_start(server_form, {'action': url('admin_btcpay_configure_server_process'), 'attr': {'class': 'form', 'id': 'server-form'}}) }}
        <h3 class="card-header">
          <i class="material-icons">mode_edit</i>
          {{ 'Server'|trans({}, 'Admin.Global') }}
        </h3>

        <div class="card-block">
          <div class="card-text">
            {{ form_row(server_form.host) }}
            {{ form_row(server_form.apiKey) }}
            {{ form_rest(server_form) }}
          </div>
        </div>

        <div class="card-footer text-right">
          <button class="btn btn-primary" type="submit">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
        </div>
        {{ form_end(server_form) }}
      </div>

      <div class="card">
        {{ form_start(general_form, {'action': url('admin_btcpay_configure_general_process'), 'attr': {'class': 'form', 'id': 'general-form'}}) }}
        <h3 class="card-header">
          <i class="material-icons">settings</i>
          {{ 'General'|trans({}, 'Admin.Global') }}
        </h3>

        <div class="card-block">
          <div class="card-text">
            {{ form_row(general_form.speed) }}
            {{ form_row(general_form.orderMode) }}
            {{ form_row(general_form.protectOrders) }}
            {{ form_row(general_form.shareMetadata) }}
            {{ form_rest(general_form) }}
          </div>
        </div>

        <div class="card-footer text-right">
          <button class="btn btn-primary" type="submit">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
        </div>
        {{ form_end(general_form) }}
      </div>
    </div>
    {% if invalidApiKey %}
      <div class="col-5 col-spx-5 col-lg-5 col-md-5">
        <div class="card">
          <h3 class="card-header">
            <i class="material-icons">info_outline</i>
            {{ 'Setup information'|trans({}, 'Admin.Global') }}
          </h3>

          <div class="card-block">
            <div class="card-text">
              <p>{{ 'The quickest way to get the plugin working is to set the proper <em>BTCPay Server URL</em> and press save. You will be redirected to your BTCPay Server where you will be guided through the API key creation process. Once the key is created, you\'ll be redirected back to Prestashop.'|trans({}, 'Modules.Btcpay.Admin')|raw }}</p>
              <p>{{ 'Redirecting back from BTCPay Server sometimes fails due to PrestaShop weirdness, if it does, you can still use this plugin by copying the API key from <code>/account/apikeys</code>. and pasting it in the form.'|trans({}, 'Modules.Btcpay.Admin')|raw }}</p>
              <hr/>
              <p>{{ 'If preferred, you can also make an API key yourself by pressing the button below (<em>make sure your BTCPay Server URL is correct, first</em>) or by creating it at <code>/account/addapikey</code>. If you are going to make an API key yourself, make sure that it has the following permissions for a <em>singluar</em> store:'|trans({}, 'Modules.Btcpay.Admin')|raw }}</p>
              <ul>
                {% for permission in constant('\\BTCPay\\Constants::BTCPAY_PERMISSIONS') %}
                  <li>{{ permission }}</li>
                {% endfor %}
              </ul>
              <p>{{ 'For additional information, checkout <a href="https://docs.btcpayserver.org/PrestaShop/" target="_blank" rel="noopener noreferrer nofollow">the documentation</a>.'|trans({}, 'Modules.Btcpay.Admin')|raw }}</p>
            </div>
          </div>

          <div class="card-footer text-right">
            <a href="{{ authorizeUrl }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer nofollow">{{ 'Create API key'|trans({}, 'Admin.Actions') }}</a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  {% if storeAvailable %}
    {% set storeInfo = client.store().getStore(storeId) %}
    {% set serverInfo = client.server().getInfo() %}
    <div class="row ps17">
      <div class="col-12 col-spx-12 col-lg-10 col-md-10 offset-md-1 offset-lg-1">
        <div class="card-deck">
          <div class="card">
            <h3 class="card-header">
              <i class="material-icons">store</i>
              {{ 'Store Information'|trans({}, 'Admin.Actions') }}
            </h3>

            <div class="card-block">
              <div class="card-text">
                <dl>
                  <dt><span class="text-muted mb-0"><strong>{{ 'Linked Store'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                  <dd><span class="px-1"><a href="{{ client.baseUrl }}" target="_blank" rel="noopener noreferrer nofollow">{{ storeInfo.name }}</a></span></dd>

                  <dt><span class="text-muted mb-0"><strong>{{ 'Default speed policy'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                  <dd><span class="px-1">{{ storeInfo.speedPolicy }}</span></dd>

                  <dt><span class="text-muted mb-0"><strong>{{ 'Invoice expiration time'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                  <dd><span class="px-1">{{ storeInfo.invoiceExpiration }} {{ 'minutes'|trans({}, 'Modules.BtcPay.Global') }}</span></dd>

                  <dt><span class="text-muted mb-0"><strong>Invoice monitoring expiration time</strong></span></dt>
                  <dd><span class="px-1">{{ storeInfo.monitoringExpiration }} {{ 'minutes'|trans({}, 'Modules.BtcPay.Global') }}</span></dd>

                  <dt><span class="text-muted mb-0"><strong>{{ 'Default currency'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                  <dd><span class="px-1">{% if storeInfo.defaultCurrency is empty %}{{ 'None'|trans({}, 'Modules.BtcPay.Global') }}{% else %}{{ storeInfo.defaultCurrency }}{% endif %}</span>
                  </dd>
                </dl>
              </div>
            </div>
          </div>

          <div class="card">
            <h3 class="card-header">
              <i class="material-icons">info_outline</i>
              {{ 'Server Information'|trans({}, 'Admin.Actions') }}
            </h3>

            <div class="card-body">
              <dl>
                <dt><span class="text-muted mb-0"><strong>{{ 'Version'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                <dd><span class="px-1"><a href="https://github.com/btcpayserver/btcpayserver/releases" target="_blank" rel="noopener noreferrer nofollow">{{ serverInfo.version }}</a></span></dd>

                {% set webhook = client.webhook().getCurrent(storeId, webhookId) %}
                <dt><span class="text-muted mb-0"><strong>{{ 'Webhook'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                {% if webhook is not null and webhook.enabled is defined and webhook.enabled %}
                  <dd><span class="text-success px-1"><i class="material-icons">checkmark</i></span></dd>
                {% elseif webhook is not null and webhook.enabled is defined and not webhook.enabled %}
                  <dd><span class="text-warning px-1">Webhook has been disabled, re-enable it again your store</span></dd>
                {% else %}
                  <dd><span class="text-warning px-1">Webhook is missing, retry the setup process</span></dd>
                {% endif %}

                <dt><span class="text-muted mb-0"><strong>{{ 'Node fully synced'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                <dd>
                  {% if serverInfo.fullySynced %}
                    <span class="text-success px-1">Yes</span>
                  {% else %}
                    <span class="text-warning px-1"><span title="The payment option won't be available until the server is synced">No ⚠️</span></span>
                  {% endif %}
                </dd>

                <dt><span class="text-muted mb-0"><strong>{{ 'Supported payment methods'|trans({}, 'Modules.Btcpay.Front') }}</strong></span></dt>
                <dd>
                  <ul class="list-unstyled px-1">
                    {% for paymentMethod in client.offChain().getPaymentMethods(storeId) %}
                      <li>{{ paymentMethod.cryptoCode }} Lightning ⚡</li>
                    {% endfor %}
                    {% for paymentMethod in client.onChain().getPaymentMethods(storeId) %}
                      <li>{{ paymentMethod.cryptoCode }} On-Chain</li>
                    {% endfor %}
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
