{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  {% if latestVersion is defined and latestVersion != null and latestVersion.newer(moduleVersion) %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <p>{{ 'A new version of this module (%version%) has been released on GitHub. <a href="%url%" class="alert-link" target="_blank" rel="noopener noreferrer nofollow">Click here to check it out.</a>'|trans({'%version%': latestVersion.tagName, '%url%': latestVersion.url}, 'Modules.Btcpay.Admin')|raw }}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  <div class="row ps17">
    <div class="col-12 col-spx-12 col-lg-10 col-md-10 offset-md-1 offset-lg-1">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">extension</i>
          {{ 'BTCPay Server - Prestashop module (v%version%)'|trans({'%version%': moduleVersion}, 'Modules.Btcpay.Admin') }}
        </div>
        <div class="card-body">
          <div class="card-text">
            <a href="https://btcpayserver.org/" target="_blank" rel="noopener noreferrer nofollow">
              <img src="{{ asset('../modules/btcpay/views/images/btcpay-plugin.png') }}" class="float-left mb-2 mr-3" alt="{{ 'BTCPay Server logo'|trans({}, 'Modules.Btcpay.Admin') }}"/>
            </a>
          </div>
          <div class="card-text">
            <p>{{ 'To be able to use this payment module you need to have a BTCPay Server instance, either <a href="https://docs.btcpayserver.org/Deployment/" target="_blank" rel="noopener noreferrer nofollow">self-hosted</a> or <a href="https://docs.btcpayserver.org/Deployment/ThirdPartyHosting/." target="_blank" rel="noopener noreferrer nofollow">hosted by a third-party</a>.'|trans({}, 'Modules.Btcpay.Admin')|raw }}</p>
          </div>
          <div class="card-text">
            <p>{{ 'With <a href="https://docs.btcpayserver.org/RegisterAccount" target="_blank" rel="noopener noreferrer nofollow">a registered account on the instance</a>, <a href="https://docs.btcpayserver.org/CreateStore" target="_blank" rel="noopener noreferrer nofollow">an actual store on the instance</a> and <a href="https://docs.btcpayserver.org/WalletSetup" target="_blank">a wallet connected to your store</a>.'|trans({}, 'Modules.Btcpay.Admin')|raw }}</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row ps17">
    <div class="{% if invalidApiKey is defined %}col-5 col-spx-5 col-lg-5 col-md-5 {% else %}col-12 col-spx-12 col-lg-10 col-md-10{% endif %} offset-md-1 offset-lg-1">
      <div class="card">
        {{ form_start(form, {'action': url('admin_btcpay_configure_process'), 'attr': {'class': 'form', 'id': 'btcpay-form'}}) }}
        <h3 class="card-header">
          <i class="material-icons">mode_edit</i>
          {{ 'Settings'|trans({}, 'Admin.Global') }}
        </h3>

        <div class="card-block">
          <div class="card-text">
            {{ form_row(form.btcpay.host) }}
            {{ form_row(form.btcpay.api_key) }}
            {{ form_row(form.btcpay.speed) }}
            {{ form_row(form.btcpay.order_mode) }}
            {{ form_row(form.btcpay.share_metadata) }}
            {{ form_rest(form) }}
          </div>
        </div>

        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <a href="{{ getAdminLink('AdminDashboard') }}" class="btn btn-secondary">{{ 'Cancel'|trans({}, 'Admin.Actions') }}</a>
            <button class="btn btn-primary" type="submit">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
    {% if invalidApiKey is defined %}
      <div class="col-5 col-spx-5 col-lg-5 col-md-5">
        <div class="card">
          <h3 class="card-header">
            <i class="material-icons">info_outline</i>
            {{ 'Setup information'|trans({}, 'Admin.Global') }}
          </h3>

          <div class="card-block">
            <div class="card-text">
              <p>{{ 'The quickest way to get the plugin working is to set the proper <em>BTCPay Server URL</em> and press save. You will be redirected to your BTCPay Server where you will be guided through the API key creation process. Once the key is created, you\'ll be redirected back to Prestashop.'|trans({}, 'Modules.Btcpay.Admin')|raw }}</p>
              <p>{{ 'Redirecting back from BTCPay Server sometimes fails due to PrestaShop weirdness, if it does, you can still use this plugin by copying the API key from <code>/account/apikeys</code>. and pasting it in the form.'|trans({}, 'Modules.Btcpay.Admin')|raw }}</p>
              <hr/>
              <p>{{ 'If preferred, you can also make an API key yourself by pressing the button below (<em>make sure your BTCPay Server URL is correct, first</em>) or by creating it at <code>/account/addapikey</code>. If you are going to make an API key yourself, make sure that it has the following permissions for a <em>singluar</em> store:'|trans({}, 'Modules.Btcpay.Admin')|raw }}</p>
              <ul>
                {% for permission in constant('\\BTCPay\\Constants::BTCPAY_PERMISSIONS') %}
                  <li>{{ permission }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="card-footer text-right">
            <a href="{{ authorizeUrl }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer nofollow">{{ 'Create API key'|trans({}, 'Admin.Actions') }}</a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="row ps17">
    <div class="col-12 col-spx-12 col-lg-10 col-md-10 offset-md-1 offset-lg-1">
      <div class="card-deck">
        {% if storeId is defined and client is defined %}
          {% set storeInfo = client.store().getStore(storeId) %}
          <div class="card">
            <h3 class="card-header">
              <i class="material-icons">store</i>
              {{ 'Store Information'|trans({}, 'Admin.Actions') }}
            </h3>

            <div class="card-block">
              <div class="card-text">
                <dl>
                  <dt><span class="text-muted mb-0"><strong>{{ 'Linked Store Name'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                  <dd><span class="px-1">{% if storeInfo.website is not empty %}<a href="{{ storeInfo.website }}" target="_blank" rel="noopener noreferrer nofollow">{{ storeInfo.name }}</a>{% else %}{{ storeInfo.name }}{% endif %}</span></dd>

                  <dt><span class="text-muted mb-0"><strong>{{ 'Default speed policy'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                  <dd><span class="px-1">{{ storeInfo.speedPolicy }}</span></dd>

                  <dt><span class="text-muted mb-0"><strong>{{ 'Invoice expiration time'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                  <dd><span class="px-1">{{ storeInfo.invoiceExpiration }} {{ 'minutes'|trans({}, 'Modules.BtcPay.Global') }}</span></dd>

                  <dt><span class="text-muted mb-0"><strong>Invoice monitoring expiration time</strong></span></dt>
                  <dd><span class="px-1">{{ storeInfo.monitoringExpiration }} {{ 'minutes'|trans({}, 'Modules.BtcPay.Global') }}</span></dd>

                  <dt><span class="text-muted mb-0"><strong>{{ 'Default currency'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                  <dd><span class="px-1">{% if storeInfo.defaultCurrency is empty %}{{ 'None'|trans({}, 'Modules.BtcPay.Global') }}{% else %}{{ storeInfo.defaultCurrency }}{% endif %}</span></dd>
                </dl>
              </div>
            </div>
          </div>
        {% endif %}

        {% if storeId is defined and client is defined %}
          {% set serverInfo = client.server().getInfo() %}
          <div class="card">
            <h3 class="card-header">
              <i class="material-icons">info_outline</i>
              {{ 'Server Information'|trans({}, 'Admin.Actions') }}
            </h3>

            <div class="card-body">
              <dl>
                <dt><span class="text-muted mb-0"><strong>{{ 'Version'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                <dd><span class="px-1">{{ serverInfo.version }}</span></dd>

                {% set webhook = client.webhook().getCurrent(storeId, webhookId) %}
                <dt><span class="text-muted mb-0"><strong>{{ 'Webhook ID'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                {% if webhook is not null and webhook.enabled is defined and webhook.enabled%}
                  <dd><span class="text-success px-1">{{ webhook.id }}</span></dd>
                {% elseif webhook is not null and webhook.enabled is defined and not webhook.enabled%}
                  <dd><span class="text-warning px-1"><span title="Webhook has been disabled, re-enable it again your store">{{ webhook.id }} ⚠️</span></span></dd>
                {% else %}
                  <span class="text-warning px-1">Webhook is missing, retry the setup process</span>
                {% endif %}

                <dt><span class="text-muted mb-0"><strong>{{ 'Node fully synced'|trans({}, 'Modules.Btcpay.Admin') }}</strong></span></dt>
                <dd>
                  {% if serverInfo.fullySynced %}
                    <span class="text-success px-1">Yes</span>
                  {% else %}
                    <span class="text-warning px-1"><span title="The payment option won't be available until the server is synced">No ⚠️</span></span>
                  {% endif %}
                </dd>

                <dt><span class="text-muted mb-0"><strong>{{ 'Supported payment methods'|trans({}, 'Modules.Btcpay.Front') }}</strong></span></dt>
                <dd>
                  <ul class="list-unstyled px-1">
                    {% for paymentMethod in client.offChain().getPaymentMethods(storeId) %}
                      <li>{{ paymentMethod.cryptoCode }} Lightning ⚡</li>
                    {% endfor %}
                    {% for paymentMethod in client.onChain().getPaymentMethods(storeId) %}
                      <li>{{ paymentMethod.cryptoCode }} On-Chain</li>
                    {% endfor %}
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
